raspberryPi/views/index.jade
doctype html
html
	include ./includes/head.jade
	body
		.container
			.row
				// card #1
				#atab1.col.s12
					h3 Smart Home
					.card
						.card-content
							.card-title.grey-text.text-darken-4 Lights
							ul.collection
								li.collection-item
									i.fa.fa-sun-o
									|  Light Sensor: 
									span#lightSensorReading #
									span#toggle-lightSensor.badge Toggle Sensor
								li.collection-item
									i.fa.fa-lightbulb-o
									|  LED State: 
									span#lightLedState #
									span#toggle-lightSensor-light.badge Toggle LED
					.card
						.card-content
							.card-title.grey-text.text-darken-4 Front Door
							ul.collection
								li.collection-item
									i.fa.fa-arrows-h
									|  Ultrasonic Sensor: 
									span#ultraCm #
									|  cm /
									span#ultraInch
									|  inch
								li.collection-item
									i.fa.fa-lightbulb-o
									|  Front Door LED: 
									span#frontLedState #
					.card
						.card-content
							.card-title.grey-text.text-darken-4 Fans
							ul.collection
								li.collection-item
									i.fa.fa-fire
									|  Temperature: 
									span#tempC #
									|  &deg;C /
									span#tempF #
									|  &deg;F
								li.collection-item.action-fans
									i.fa.fa-spinner
									|  Fan State: 
									span#fan #
									span#toggle-motor.badge Toggle Fan

		include ./includes/footer.jade

raspberryPi/src/index.html
<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Smart Home</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/bower_components/materialize/dist/css/materialize.min.css">
  <link rel="stylesheet" href="/bower_components/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="/style.css">
</head>

<body>
  <div class="container">
    <div class="row">
      <!-- card #1 -->
      <div class="col s12" id="atab1">
        <h3>Smart Home</h3>
        <div class="card">
          <div class="card-content">
            <ul class="collection">
              <li class="collection-item">
                <i class="fa fa-sun-o"></i> Light Sensor: <span id="lightSensorReading">#</span>
                <span class="badge" id="toggle-lightSensor">Toggle Sensor</span>
              </li>
              <li class="collection-item">
                <i class="fa fa-lightbulb-o"></i> LED State: <span id="lightLedState">#</span>
                <span class="badge" id="toggle-lightSensor-light">Toggle LED</span>
              </li>
              <li class="collection-item">
                <i class="fa fa-arrows-h"></i> Ultrasonic Sensor: <span id="ultraCm">#</span> cm / <span id="ultraInch"></span> inch
              </li>
              <li class="collection-item">
                <i class="fa fa-lightbulb-o"></i> Front Door LED: <span id="frontLedState">#</span>
              </li>
              <li class="collection-item">
                <i class="fa fa-fire"></i> Temperature: <span id="tempC">#</span> &deg;C / <span id="tempF">#</span> &deg;F
              </li>
              <li class="collection-item action-fans">
                <i class="fa fa-spinner"></i> Fan State: <span id="fan">#</span>
                <span class="badge" id="toggle-motor">Toggle Fan</span>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <!-- card #2 -->
      <div class="col s12" id="atab2">
        <div class="card">
          <div class="card-content">
            <h3>History</h3>
            <canvas id="myChart" width="400" height="400"></canvas>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="/socket.io-1.3.5.js"></script>
  <script src="/bower_components/jquery/dist/jquery.min.js"></script>
  <script src="/bower_components/materialize/dist/js/materialize.min.js"></script>
  <script src="/bower_components/Chart.js/Chart.js"></script>
  <script src="/scripts.js"></script>
</body>

</html>
